<% if(typeof errors!='undefined' ) { %>

    <% errors.forEach(function(error){ %>

        <div class="alert_box">
            <%= error.msg %>
        </div>
        <% }); %>
            <% } %>

<%if(success_msg!=""){%>
    <div class="alert_box success" role="alert"> 
        <%= success_msg %>
    </div>
<%}  %>
<%if(error_msg!=""){%>
    <div class="alert_box">
        <%= error_msg%>
    </div>
<%}  %>
<%if(error!=""){%>
    <div class="alert_box">
        <%= error%>
    </div>
<%}  %>

