<div class="row text-center dashboard_cont">

    <div class="col-md-6 dash-cont m-auto shadow">
        <h1 class="dashboard_heading">Your Information</h1>
        <hr class="line">

        <div class="info">

         
            <div>
                <p > Name  : <pre class="name_info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= name %></pre></p>
            </div>
            <div>
                <p> Email : <pre class="name_info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= email %></pre></p>
            </div>
            <div>
                <p> Password : <pre class="name_info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= password %></pre></p>
            </div>
            
        </div>
        <div class="text-center"> 
            <a href="/users/logout" class="btn btn-secondary mb-5">Logout</a>
        </div>
    </div>
</div>