<div class="row cont ">

    <div class="col-md-4 m-auto card shadow text-center ">
        <h1 class="heading">Welcome</h1>
        <hr class="line">

        <a href="/users/register" class="register_button "> New User </a>
        <a href="/users/login" class="login_button" onclick="/users/login">Login</a>


    </div>






</div>